.jumbotron{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
}
footer{
    padding: 10px 10px 0px 10PX;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin-bottom: 0px;
    color: white;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 2px 2px 5px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
}